.animation, .animation_layer {
	height: 1000px;
}

.animation {
  display: block;
	position: absolute;
	z-index: 10;
}

.animation_layer {
	background-position: bottom center;
	background-size: auto 1038px;
	background-repeat: repeat-x;
	width: 100%;
	position: absolute;
}
.animation_layer.parallax {
	position: fixed;

}

#artback {
  background-image: url(../../Component/images/background.png);
}

#mountain {
  background-image: url(../../Component/images/mountains.png);
}

#logoland {
  background-image: url(../../Component/images/logo_land.png);
}

#jungle1 {
  background-image: url(../../Component/images/jungle1.png);
}

#jungle2 {
  background-image: url(../../Component/images/jungle2.png);
}

#jungle3 {
  background-image: url(../../Component/images/jungle3.png);
}

#jungle4 {
  background-image: url(../../Component/images/jungle4.png);
}

#jungle5 {
  background-image: url(../../Component/images/jungle5.png);
}

#manonmountain {
  background-image: url(../../Component/images/man_on_mountain.png);
}
.cardBody{
  width:100%;
  height: 100vh;

}
.cardwrapper{
width:100%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-around;
flex-wrap: wrap;
margin: 10px;
}
.cardimages img{
  width: 100%;
  height: 100%;
}